body {
  font-family: "Inter", sans-serif;
  /* font-family: "Kalnia", serif; */
  /* font-family: "Style Script", cursive; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-intro {
  margin-top: 43px;
  color: #68513f;
  border: 1px solid #dacec6;
  background: #f1ebe7;
  max-width: 143px;
  padding: 12px 21px;
}
