body {
  font-family: "Inter", sans-serif;
  /* font-family: "Kalnia", serif; */
  /* font-family: "Style Script", cursive; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-intro {
  margin-top: 43px;
  color: #68513f;
  border: 1px solid #dacec6;
  background: #f1ebe7;
  max-width: 143px;
  padding: 12px 21px;
}

.btn-features{
    padding: 12px 21px;
    max-width: 115px;
}

.text-intro{
    font-size: 88px;
    font-weight: 300;
}
.btn{
    color: #68513F;
    border: 1px solid #DACEC6;
    background: #F1EBE7;
}

.title {
    font-family: 'Style Script', sans-serif;
    color:#68513F;
    font-size: 137px;
}

